* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family:monospace;
    font-size:62.5%;
    background:#111111;
    background:url(../gfx/tile3.jpg) repeat;
}

#b2d-debug {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#main {
    margin:0 auto;
    width:1000px;
}

#infoPanel {
    position: absolute;
    top: 0;
    right: 0;
    padding:20px;
    line-height:30px;
    width: 600px;
}

#infoPanel ul {
    list-style-type:none;
}

#infoPanel ul li {
    font-size:2.5em;
    color:white;
}

#infoPanel ul li span {
    font-weight: bold;
}

.msgtrue {
    color:#00ff00;
}

.msgfalse {
    color:#ff0000;
}
