* {
    margin:0;
    padding:0;
}

body {
    font-family:monospace;
    font-size:62.5%;
    background:#111111;
}

#main {
    margin:0 auto;
    width:1000px;
}

canvas {
    background:url(../gfx/tile3.jpg) repeat;
    border:1px solid #000;
}

#infoPanel {
    border:1px solid #333;
    background:#222;
    padding:20px;
    line-height:30px;
}

#infoPanel ul {
    list-style-type:none;
}

#infoPanel ul li {
    font-size:2.5em;
    color:white;
}

#infoPanel ul li span {
    font-weight: bold;
}

.msgtrue {
    color:#00ff00;
}

.msgfalse {
    color:#ff0000;
}
